## Source: https://pandas.pydata.org/pandas-docs/stable/index.html

### What is Pandas? 
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

### What data structures does Pandas use?
Pandas has 2 primary data structures - namely Series(1-D) and DataFrame(2-D). 

### What to expect from this tutorial/notebook? 
This tutorial is intended to introduce you to Pandas from a high level and then expose you to
- Data Acquisition 
- Data Cleaning 
- Data Filtering 
- Data Aggregation 
- Data Analysis (depending on time availability)

### How is this different from the countless other materials that are publicly available? 
It is by no means exhaustive or extensive, rather you can consider it my share of learnings that I picked up and learned as I attempted to use Python. I will be sharing tips and tricks that I found to be helpful, but if you know something better, you are welcome to share it with me/us.

#### How to create data-structures in Pandas ?

In [1]:
# Import required libraries 
import pandas as pd
import numpy as np 
import os 
import pickle  
import csv 
from datetime import datetime

In [2]:
# Creating a series 
my_numeric_series = pd.Series([2, 3, 5, 7], name="Primes_Under_10")
print(my_numeric_series)
my_character_series = pd.Series(["DesertPy", "SoCal_Python", "PyLadies_of_LA"], name="Some_Python_Meetups")
print(my_character_series)
my_mixed_series = pd.Series([2, "a", 4, "b"], name="Mixed_Series")
print(my_mixed_series)

0    2
1    3
2    5
3    7
Name: Primes_Under_10, dtype: int64
0          DesertPy
1      SoCal_Python
2    PyLadies_of_LA
Name: Some_Python_Meetups, dtype: object
0    2
1    a
2    4
3    b
Name: Mixed_Series, dtype: object

In [3]:
# Creating a data frame 
# Method 1 - from list of lists 
print("******************************")
print("Printing Dataframe from method 1")
print("******************************")

list_of_lists = [["Doug Ducey", "Arizona", 2023], ["Gavin Newsom", "California", 2023], 
                 ["Ron Desantis", "Florida", 2023], ["Andrew Cuomo", "New York", 2022],
                 ["Brian Kemp", "Georgia", 2023]]
governors_in_the_news_df = pd.DataFrame(data=list_of_lists, columns=["Name", "State", "Term_Expiry"])
print(governors_in_the_news_df)

print("******************************")
print("Printing Dataframe from method 2")
print("******************************")

# Method 2 - from dictionary of lists
dict_of_lists = {"Name": ["Jay Inslee", "Ned Lamont", "Andy Beshear", "Roy Cooper"],
                "State": ["Washington", "Connecticut", "Kentucky", "North Carolina"],
                "Term_Expiry": [2021, 2023, 2023, 2021]}
governors_df = pd.DataFrame(data=dict_of_lists)
print(governors_df)

print("******************************")
print("Printing Dataframe from method 3")
print("******************************")

# Method 3 - from list of dictionaries 
list_of_dicts = [{'USA': 50, 'Brazil': 26, 'Canada':10}]
states_in_countries_df = pd.DataFrame(data=list_of_dicts, index=["State_Count"])
print(states_in_countries_df)

print("******************************")
print("Printing Dataframe from method 4")
print("******************************")

# Method 4 - from lists with zip 
stock_symbols = ["AAPL", "AMZN", "V", "MA"]
prices_i_wish_i_bought_them_at = [50, 10, 1, 78]
stocks_i_wanted_df = pd.DataFrame(data=list(zip(stock_symbols, prices_i_wish_i_bought_them_at)),
                                  columns=["Stock_Symobl", "Dream_Price"]) 
print(stocks_i_wanted_df)

print("******************************")
print("Printing Dataframe from method 5")
print("******************************")

# Method 5 - dict of pd.Series 
dict_of_series = {'Place_I_Wanted_To_Be' : 
                    pd.Series(["New Zealand", "Fiji", "Bahamas"], index =["January",    "February", "March"]),                  'Place_I_Am_At' : 
                    pd.Series(["Home", "Home", "Home"], index =["January", "February", "March"])} 
lockdown_mood_df = pd.DataFrame(dict_of_series)
print(lockdown_mood_df)

# Delete the temporary varibles and datasets to avoid cluttering of workspace - these will not be used below
del my_numeric_series, my_character_series, my_mixed_series, list_of_lists, governors_in_the_news_df, dict_of_lists
del governors_df, list_of_dicts, states_in_countries_df, stock_symbols, prices_i_wish_i_bought_them_at, stocks_i_wanted_df, dict_of_series, lockdown_mood_df

******************************
Printing Dataframe from method 1
******************************
           Name       State  Term_Expiry
0    Doug Ducey     Arizona         2023
1  Gavin Newsom  California         2023
2  Ron Desantis     Florida         2023
3  Andrew Cuomo    New York         2022
4    Brian Kemp     Georgia         2023
******************************
Printing Dataframe from method 2
******************************
           Name           State  Term_Expiry
0    Jay Inslee      Washington         2021
1    Ned Lamont     Connecticut         2023
2  Andy Beshear        Kentucky         2023
3    Roy Cooper  North Carolina         2021
******************************
Printing Dataframe from method 3
******************************
             USA  Brazil  Canada
State_Count   50      26      10
******************************
Printing Dataframe from method 4
******************************
  Stock_Symobl  Dream_Price
0         AAPL           50
1         AMZN           10
2            V            1
3           MA           78
******************************
Printing Dataframe from method 5
******************************
         Place_I_Wanted_To_Be Place_I_Am_At
January           New Zealand          Home
February                 Fiji          Home
March                 Bahamas          Home

## Takeaways-1
#### From the above examples, it is helpful to identify a few takeaways: 
1. Series and DataFrame can represent most of the commonly used data sets. Constructing your data into a Series or a DataFrame allows you to leverage a lot of built-in functionality that Pandas offers 
2. Series and DataFrame support homogeneous and heterogeneous data - meaning they can handle same data types as well as different data types 
3. Series and DataFrame have an index property which defaults to an integer but can be set as desired (imagine time stamps, letters etc.)
4. Pandas 1.0.0 deprecated the testing module and limited to only assertion functions. While not advisable, if you are using a version < 1.0.0, pandas.util.testing offers close to 30 different built-in functions to whip up different data frames that make it easy to test. You can get the list of possible functions like so 

```
import pandas.util.testing as tm 
dataframe_constructor_functions = [i for i in dir(tm) if i.startswith('make')]
print(dataframe_constructor_functions)
```

5. While all of these are good to know, a typical use-case would not require a user to create data, rather import/acquire data from several different data sources - which leads us to our first topic of Data Acquisition

## Data Acquisition 

#### One of the most powerful and appealing aspects of Pandas is its ability to easily acquire and ingest data from several different data sources including but not limited to: 
- CSV
- Text 
- JSON 
- HTML 
- Excel
- SQL

  An exhaustive list can be found here - https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [4]:
# CSV 
print("******************************")
print("Printing Dataframe from CSV")
print("******************************")

current_directory = os.getcwd()
confimed_global_cases_file_path = os.path.join(current_directory, "covid-19_data","time_series_covid19_confirmed_global.csv") 
confirmed_global_cases_df = pd.read_csv(filepath_or_buffer=confimed_global_cases_file_path) 
print(confirmed_global_cases_df.head()) 

# JSON 
print("******************************")
print("Printing Dataframe from JSON")
print("******************************")
json_file_path = os.path.join(current_directory, "sample_json.json")
json_df = pd.read_json(json_file_path)
print(json_df)

# Excel
print("******************************")
print("Printing Dataframe from Excel")
print("******************************")
# excel_file_path = os.path.join(current_directory, "covid-19_data","time_series_covid19_confirmed_recovered.xlsx")
os.chdir("covid-19_data")
recovered_global_cases_df = pd.read_excel("time_series_covid19_recovered_global.xlsx")
os.chdir(current_directory)
print(recovered_global_cases_df.head())

# Delete the temporary varibles and datasets to avoid cluttering of workspace - these will not be used below
del json_file_path, json_df, recovered_global_cases_df

******************************
Printing Dataframe from CSV
******************************
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  3/24/20  3/25/20  3/26/20  3/27/20  \
0        0        0        0  ...       74       84       94      110
1        0        0        0  ...      123      146      174      186
2        0        0        0  ...      264      302      367      409
3        0        0        0  ...      164      188      224      267
4        0        0        0  ...        3        3        4        4

   3/28/20  3/29/20  3/30/20  3/31/20  4/1/20  4/2/20
0      110      120      170      174     237     273
1      197      212      223      243     259     277
2      454      511      584      716     847     986
3      308      334      370      376     390     428
4        5        7        7        7       8       8

[5 rows x 76 columns]
******************************
Printing Dataframe from JSON
******************************
  city  trips       date  value  price request_date   medium  %price   type  \
0   ab      4 2014-01-25    4.7    1.1   2014-06-17   iPhone    15.4   True
1   bc      0 2014-01-29    5.0    1.0   2014-05-05  Android     0.0  False

   Weekly_pct  avg_dist  avg_price  weekly_pct
0        46.2      3.67          5         NaN
1         NaN      8.26          5        50.0
******************************
Printing Dataframe from Excel
******************************

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

## Takeaways-2

#### Based on the few limited examples above: 
1. Pandas has several robust i/o parsers which makes it really easy to consume data from several different sources 
2. If you are going to work with pandas, it is best to use pandas to acquire the data, as long as parser exists because they are optimized to handle large sets of data 
3. What would have been a great example would be to consume SQL data, but since I don't have enough power on my machine to install a SQL Server program, I am forced to skip that - if you have access to a database, do try and consume data from the database. You would be needing either pyodbc or sqlalchemy or a similar package as a wrapper.

## Data Cleaning  & Data Filtering (They are quite intertwined)

#### Messy (or) Unorganized data is very common. Even if the data is organized and logically makes sense, it might have missing data or NaN's or NA's  or may not be organized in a way the user wants it, which could be a hindrance to smooth analysis of your data. 

### Tip #1 - If you are going to modify a data frame and want the original data, create a copy

In [5]:
# By copying a dataframe with deep flag turned on, a new data frame is created including a copy of the data and the indices. 
# Changes made to this new data frame are not reflected in the original data frame object and vice-versa 
confirmed_global_cases_copy_df = confirmed_global_cases_df.copy(deep=True)

# Let us we want to only look at countries where there is state/province-level data available 
confirmed_global_cases_copy_df = confirmed_global_cases_copy_df[confirmed_global_cases_copy_df["Province/State"].notnull()] # Method 1 of filtering data in dataframe

In [6]:
# Notice that the data frame index does not hold any special order now and it does not convey any meaning by itself, unless we reference it or compare with the original data frame. We can fix that by re-setting the index 
confirmed_global_cases_copy_df = confirmed_global_cases_copy_df.reset_index(drop=True) 
# drop flag prevents the column from being added back to the dataframe as a new column. also remember to assign the data frame back to your variable. resetting of index, returns an object and unless we capture it and re-assign to the same variable, the change is lost

In [7]:
# Let us say, we only want countries in the Northern Hemisphere - please note that this is just one method to create a new column. I want to show as many different options as possible 
def hemisphere_flag(df):
    if (df["Lat"] >= 0):
        return 1
    else:
        return 0 
confirmed_global_cases_copy_df["Northern_Hemisphere_Flag"] = confirmed_global_cases_copy_df.apply(hemisphere_flag, axis=1)
northern_hemisphere_confirmed_cases_df = confirmed_global_cases_copy_df.query("Northern_Hemisphere_Flag == 1") # Method 2 of filtering data in dataframe 
northern_hemisphere_confirmed_cases_df = northern_hemisphere_confirmed_cases_df.reset_index(drop=True)

In [8]:
# Let us see how we can subset the data frame based on multiple conditions 
hubei_data_df = northern_hemisphere_confirmed_cases_df.loc[(northern_hemisphere_confirmed_cases_df["Country/Region"]=="China") & (northern_hemisphere_confirmed_cases_df["Province/State"]=="Hubei")] # Method 3 of filtering data in dataframe 

# Alternatively , if you wanted to generate a flag and not necessarily subset, you can use Numpy as follows 
northern_hemisphere_confirmed_cases_df['Alberta_Flag'] = np.where((northern_hemisphere_confirmed_cases_df["Country/Region"]=="Canada") & (northern_hemisphere_confirmed_cases_df["Province/State"]=="Alberta"), 1, 0)

In [9]:
# Let us look at the hubei data set, since we know that Hubei is in China and China is in the Northern Hemisphere, let us try to drop/delete the columns from the data set 
columns_to_drop_in_hubei_data = ["Country/Region", "Northern_Hemisphere_Flag"]
hubei_data_df.drop(columns_to_drop_in_hubei_data, inplace=True, axis=1)

# Alternatively, we could do the following, let us perform a similar action on Northern Hemisphere data 
columns_to_drop_in_northern_hemisphere = ["Alberta_Flag", "Northern_Hemisphere_Flag"]
northern_hemisphere_confirmed_cases_df.drop(columns=columns_to_drop_in_northern_hemisphere, inplace=True)

In [10]:
# Let us delete a couple of the intermediate data frames that we created for demonstration purposes
del hubei_data_df, northern_hemisphere_confirmed_cases_df

# Now, let us use the copy we created to learn something else 
confirmed_global_cases_copy_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 77 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province/State            80 non-null     object
 1   Country/Region            80 non-null     object
 2   Lat                       80 non-null     float64
 3   Long                      80 non-null     float64
 4   1/22/20                   80 non-null     int64
 5   1/23/20                   80 non-null     int64
 6   1/24/20                   80 non-null     int64
 7   1/25/20                   80 non-null     int64
 8   1/26/20                   80 non-null     int64
 9   1/27/20                   80 non-null     int64
 10  1/28/20                   80 non-null     int64
 11  1/29/20                   80 non-null     int64
 12  1/30/20                   80 non-null     int64
 13  1/31/20                   80 non-null     int64
 14  2/1/20                    80 non-null     int64
 15  2/2/20                    80 non-null     int64
 16  2/3/20                    80 non-null     int64
 17  2/4/20                    80 non-null     int64
 18  2/5/20                    80 non-null     int64
 19  2/6/20                    80 non-null     int64
 20  2/7/20                    80 non-null     int64
 21  2/8/20                    80 non-null     int64
 22  2/9/20                    80 non-null     int64
 23  2/10/20                   80 non-null     int64
 24  2/11/20                   80 non-null     int64
 25  2/12/20                   80 non-null     int64
 26  2/13/20                   80 non-null     int64
 27  2/14/20                   80 non-null     int64
 28  2/15/20                   80 non-null     int64
 29  2/16/20                   80 non-null     int64
 30  2/17/20                   80 non-null     int64
 31  2/18/20                   80 non-null     int64
 32  2/19/20                   80 non-null     int64
 33  2/20/20                   80 non-null     int64
 34  2/21/20                   80 non-null     int64
 35  2/22/20                   80 non-null     int64
 36  2/23/20                   80 non-null     int64
 37  2/24/20                   80 non-null     int64
 38  2/25/20                   80 non-null     int64
 39  2/26/20                   80 non-null     int64
 40  2/27/20                   80 non-null     int64
 41  2/28/20                   80 non-null     int64
 42  2/29/20                   80 non-null     int64
 43  3/1/20                    80 non-null     int64
 44  3/2/20                    80 non-null     int64
 45  3/3/20                    80 non-null     int64
 46  3/4/20                    80 non-null     int64
 47  3/5/20                    80 non-null     int64
 48  3/6/20                    80 non-null     int64
 49  3/7/20                    80 non-null     int64
 50  3/8/20                    80 non-null     int64
 51  3/9/20                    80 non-null     int64
 52  3/10/20                   80 non-null     int64
 53  3/11/20                   80 non-null     int64
 54  3/12/20                   80 non-null     int64
 55  3/13/20                   80 non-null     int64
 56  3/14/20                   80 non-null     int64
 57  3/15/20                   80 non-null     int64
 58  3/16/20                   80 non-null     int64
 59  3/17/20                   80 non-null     int64
 60  3/18/20                   80 non-null     int64
 61  3/19/20                   80 non-null     int64
 62  3/20/20                   80 non-null     int64
 63  3/21/20                   80 non-null     int64
 64  3/22/20                   80 non-null     int64
 65  3/23/20                   80 non-null     int64
 66  3/24/20                   80 non-null     int64
 67  3/25/20                   80 non-null     int64
 68  3/26/20                   80 non-null     int64
 69  3/27/20                   80 non-null     int64
 70  3/28/20                   80 non-null     int64
 71  3/29/20                   80 non-null     int64
 72  3/30/20                   80 non-null     int64
 73  3/31/20                   80 non-null     int64
 74  4/1/20                    80 non-null     int64
 75  4/2/20                    80 non-null     int64
 76  Northern_Hemisphere_Flag  80 non-null     int64
dtypes: float64(2), int64(73), object(2)
memory usage: 48.2+ KB

In [11]:
# Changing the dtype of a column is another handy data cleansing technique that you would be using a lot 
confirmed_global_cases_copy_df.astype({'Lat': 'object', 'Long': 'object'}).dtypes

Province/State              object
Country/Region              object
Lat                         object
Long                        object
1/22/20                      int64
                             ...
3/30/20                      int64
3/31/20                      int64
4/1/20                       int64
4/2/20                       int64
Northern_Hemisphere_Flag     int64
Length: 77, dtype: object

In [12]:
# If it instead made sense to case all your columns to a single data type you could simply do this
confirmed_global_cases_copy_df.astype('object').dtypes

Province/State              object
Country/Region              object
Lat                         object
Long                        object
1/22/20                     object
                             ...
3/30/20                     object
3/31/20                     object
4/1/20                      object
4/2/20                      object
Northern_Hemisphere_Flag    object
Length: 77, dtype: object

In [13]:
# Now, let us look at "index", a very powerful and handy component of a Pandas data frame 
# While it does not need to be unique like a SQL primary key, it will definitely help optimize execution of a lot of the methods if the index is unique. 
china_confirmed_cases_df = confirmed_global_cases_copy_df[confirmed_global_cases_copy_df["Country/Region"].isin(["China"])]  
# We can see that and we have covered this before that index has been disrupted after the subset, so let us create a new index 
china_confirmed_cases_df.reset_index(drop=True, inplace=True)

In [14]:
# Now, let us assign one of the columns as the index 
china_confirmed_cases_df.set_index(keys=["Province/State"], drop=True, inplace=True)

In [15]:
china_confirmed_cases_df.index

Index(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu', 'Jiangxi',
       'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai', 'Shaanxi',
       'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin', 'Tibet',
       'Xinjiang', 'Yunnan', 'Zhejiang'],
      dtype='object', name='Province/State')

In [16]:
# Ok, so how does setting the index really help ? 
china_subset_df = china_confirmed_cases_df.filter(like="Hubei", axis=0) # It allows filtering based on the unique index - especially powerful if data is time-series based
# Method 4 of filtering data in dataframe

## Takeaways-3

#### We covered several data cleaning and data filtering techniques, key points to remeber are: 
1. Unless, we  want to modify the source data, it is a good idea to make a deep copy of a data frame before making any modifications 
2. There are several different options to create a new column in a data frame, we covered a couple of these
      - Using the apply function on a user defined function 
      - Using the np.where construct 
3. We also looked at different ways to drop unwanted columns in a given dataframe (users are welcome to choose the construct that makes most sense to them)
      - Using the axis keyword argument
      - Using the columns keyword argument 
4. Using the info method with verbose set to true, produces a lot of helpful 
5. Casting individual column(s) to the desired data type as well as entire data frame to a data type of choice is possible using the astype() 
6. Resetting, setting and filtering using index of a dataframe (what has not been covered here is MultiIndex. That is a very useful concept, nut I am still trying to get a handle and could not cover that today)
7. Different ways to filter data in a dataframe:
      - Using built in methods like ```pd.DataFrame.notnull()``` or ```pd.DataFrame.isin()``` along with logical indexing 
      - Using ``` pd.DataFrame.query() ```  
      - Using boolean indexing (Method 1 can be considered a subset of this)
      - Using ``` pd.DataFrame.filter() ```
      - There are other methods which haven't been covered like ```pd.DataFrame.iloc()``` which is better suited when the indices of rows desired are known

In [17]:
## Data Aggregation 

#### Source: https://data.open-power-system-data.org/household_data/

In [18]:
# Import Time Series Household data from open power system platform 
os.chdir(current_directory)
household_data_df = pd.read_csv("household_data_15min.csv")

In [19]:
household_data_df.drop(columns=["cet_cest_timestamp"], inplace=True) # Dropping the localized timestamp column as we are not going to try and deep dive into that 
household_data_df["utc_timestamp"] = pd.to_datetime(household_data_df["utc_timestamp"], format="%Y-%m-%dT%H:%M:%SZ")
household_data_df.set_index("utc_timestamp", drop=True, inplace=True)

In [20]:
# We see that there are rows with NaN, lets clear them out 
household_data_df.dropna(how="all")

,DE_KN_industrial1_grid_import,DE_KN_industrial1_pv_1,DE_KN_industrial1_pv_2,DE_KN_industrial2_grid_import,DE_KN_industrial2_pv,DE_KN_industrial2_storage_charge,DE_KN_industrial2_storage_decharge,DE_KN_industrial3_area_offices,DE_KN_industrial3_area_room_1,DE_KN_industrial3_area_room_2,...,DE_KN_residential5_refrigerator,DE_KN_residential5_washing_machine,DE_KN_residential6_circulation_pump,DE_KN_residential6_dishwasher,DE_KN_residential6_freezer,DE_KN_residential6_grid_export,DE_KN_residential6_grid_import,DE_KN_residential6_pv,DE_KN_residential6_washing_machine,interpolated
utc_timestamp,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,261301.539,5390.673,4253.803,10716.058,20180.866,1017.279,620.249,12351.429,4700.859,21517.785,...,429.432,221.069,425.378,69.508,114.811,1534.29,4337.069,9524.441,49.388,DE_KN_public2_grid_import
2017-01-01 00:15:00,261303.961,5390.673,4253.803,10716.449,20180.866,1017.284,620.249,12351.509,4700.889,21517.810,...,429.432,221.069,425.392,69.508,114.811,1534.29,4337.154,9524.441,49.388,DE_KN_public2_grid_import
2017-01-01 00:30:00,261305.914,5390.673,4253.803,10716.865,20180.866,1017.289,620.249,12351.584,4700.918,21517.836,...,429.445,221.069,425.399,69.508,114.812,1534.29,4337.239,9524.441,49.388,DE_KN_public2_grid_import
2017-01-01 00:45:00,261309.914,5390.673,4253.803,10717.264,20180.866,1017.294,620.249,12351.649,4700.944,21517.855,...,429.459,221.069,425.406,69.508,114.813,1534.29,4337.299,9524.441,49.388,DE_KN_public2_grid_import
2017-01-01 01:00:00,261312.602,5390.673,4253.803,10717.680,20180.866,1017.299,620.249,12351.720,4700.969,21517.883,...,429.481,221.069,425.413,69.508,114.813,1534.29,4337.354,9524.441,49.388,DE_KN_public2_grid_import
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-01 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 21:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 21:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Since the data seems to be agregated, let us calculate actual generation at each time stamp 
household_data_generation_df = household_data_df.copy(deep=True)
household_data_generation_df.drop(columns="interpolated", inplace=True)
household_data_generation_df.info(verbose=True) # before calculating generation, we want to ensure that all columns are actual numeric and there is no character data

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81689 entries, 2017-01-01 00:00:00 to 2019-05-01 22:00:00
Data columns (total 68 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   DE_KN_industrial1_grid_import        27353 non-null  float64
 1   DE_KN_industrial1_pv_1               27352 non-null  float64
 2   DE_KN_industrial1_pv_2               27352 non-null  float64
 3   DE_KN_industrial2_grid_import        14977 non-null  float64
 4   DE_KN_industrial2_pv                 6202 non-null   float64
 5   DE_KN_industrial2_storage_charge     14977 non-null  float64
 6   DE_KN_industrial2_storage_decharge   14977 non-null  float64
 7   DE_KN_industrial3_area_offices       14873 non-null  float64
 8   DE_KN_industrial3_area_room_1        14873 non-null  float64
 9   DE_KN_industrial3_area_room_2        14873 non-null  float64
 10  DE_KN_industrial3_area_room_3        14873 non-null  float64
 11  DE_KN_industrial3_area_room_4        14873 non-null  float64
 12  DE_KN_industrial3_compressor         14873 non-null  float64
 13  DE_KN_industrial3_cooling_aggregate  14873 non-null  float64
 14  DE_KN_industrial3_cooling_pumps      14873 non-null  float64
 15  DE_KN_industrial3_dishwasher         14873 non-null  float64
 16  DE_KN_industrial3_ev                 14873 non-null  float64
 17  DE_KN_industrial3_grid_import        14873 non-null  float64
 18  DE_KN_industrial3_machine_1          14873 non-null  float64
 19  DE_KN_industrial3_machine_2          14873 non-null  float64
 20  DE_KN_industrial3_machine_3          14873 non-null  float64
 21  DE_KN_industrial3_machine_4          14873 non-null  float64
 22  DE_KN_industrial3_machine_5          14873 non-null  float64
 23  DE_KN_industrial3_pv_facade          14873 non-null  float64
 24  DE_KN_industrial3_pv_roof            14873 non-null  float64
 25  DE_KN_industrial3_refrigerator       14873 non-null  float64
 26  DE_KN_industrial3_ventilation        14873 non-null  float64
 27  DE_KN_public1_grid_import            0 non-null      float64
 28  DE_KN_public2_grid_import            1570 non-null   float64
 29  DE_KN_residential1_dishwasher        6791 non-null   float64
 30  DE_KN_residential1_freezer           6791 non-null   float64
 31  DE_KN_residential1_grid_import       6813 non-null   float64
 32  DE_KN_residential1_heat_pump         6813 non-null   float64
 33  DE_KN_residential1_pv                6813 non-null   float64
 34  DE_KN_residential1_washing_machine   6791 non-null   float64
 35  DE_KN_residential2_circulation_pump  17787 non-null  float64
 36  DE_KN_residential2_dishwasher        15889 non-null  float64
 37  DE_KN_residential2_freezer           0 non-null      float64
 38  DE_KN_residential2_grid_import       3035 non-null   float64
 39  DE_KN_residential2_washing_machine   38288 non-null  float64
 40  DE_KN_residential3_circulation_pump  60719 non-null  float64
 41  DE_KN_residential3_dishwasher        44263 non-null  float64
 42  DE_KN_residential3_freezer           42804 non-null  float64
 43  DE_KN_residential3_grid_export       60719 non-null  float64
 44  DE_KN_residential3_grid_import       18113 non-null  float64
 45  DE_KN_residential3_pv                60719 non-null  float64
 46  DE_KN_residential3_refrigerator      28957 non-null  float64
 47  DE_KN_residential3_washing_machine   50061 non-null  float64
 48  DE_KN_residential4_dishwasher        7726 non-null   float64
 49  DE_KN_residential4_ev                38397 non-null  float64
 50  DE_KN_residential4_freezer           38397 non-null  float64
 51  DE_KN_residential4_grid_export       38397 non-null  float64
 52  DE_KN_residential4_grid_import       38397 non-null  float64
 53  DE_KN_residential4_heat_pump         6201 non-null   float64
 54  DE_KN_residential4_pv                38397 non-null  float64
 55  DE_KN_residential4_refrigerator      368 non-null    float64
 56  DE_KN_residential4_washing_machine   6277 non-null   float64
 57  DE_KN_residential5_dishwasher        52639 non-null  float64
 58  DE_KN_residential5_grid_import       81689 non-null  float64
 59  DE_KN_residential5_refrigerator      16732 non-null  float64
 60  DE_KN_residential5_washing_machine   52639 non-null  float64
 61  DE_KN_residential6_circulation_pump  44441 non-null  float64
 62  DE_KN_residential6_dishwasher        14547 non-null  float64
 63  DE_KN_residential6_freezer           23252 non-null  float64
 64  DE_KN_residential6_grid_export       44441 non-null  float64
 65  DE_KN_residential6_grid_import       44441 non-null  float64
 66  DE_KN_residential6_pv                44441 non-null  float64
 67  DE_KN_residential6_washing_machine   17440 non-null  float64
dtypes: float64(68)
memory usage: 43.0 MB

In [22]:
household_data_generation_df = household_data_generation_df.diff()

In [23]:
# To calculate hourly generation data - let us try a few things 
hour_grouping = household_data_generation_df.index.hour
hourly_grouped_df = household_data_generation_df.groupby(hour_grouping).sum()

In [ ]:
# The above result might catch you off guard, but if you think about it, you are only grouping by hour, in order get hourly data for our data set, we want to group by all the unique attributes of time upto hour, so - year, month, day, hour
hourly_grouping_sel = [(household_data_generation_df.index.year), 
                       (household_data_generation_df.index.month),
                       (household_data_generation_df.index.day),
                       (household_data_generation_df.index.hour)]
hourly_data_total_df = household_data_generation_df.groupby(hourly_grouping_sel).sum() 
hourly_data_stats_df = household_data_generation_df.groupby(hourly_grouping_sel).describe()

In [ ]:
hourly_data_total_df.head()